In [5]:
#Importaremos la tabla
import pandas as pd
import os

datadis=pd.read_excel(os.path.join('data','dataPerú.xlsx'),
                     dtype={'Ubigeo':object})
datadis.head()

,Ubigeo,Departamento,Provincia,Distrito,Incidencia de pobreza total\n (FGT0),Incidencia de pobreza extrema,Brecha \n(FGT1),Severidad \n(FGT2)
0,010101,AMAZONAS,CHACHAPOYAS,CHACHAPOYAS ...,21.528231,3.256639,5.546254,2.090416
1,010102,AMAZONAS,CHACHAPOYAS,ASUNCIÓN ...,53.311419,15.892734,16.486481,6.898176
2,010103,AMAZONAS,CHACHAPOYAS,BALSAS ...,55.566024,23.660956,19.175303,8.901853
3,010104,AMAZONAS,CHACHAPOYAS,CHETO ...,72.286942,28.97079,26.337226,12.250607
4,010105,AMAZONAS,CHACHAPOYAS,CHILIQUÍN ...,59.828437,23.782609,19.079313,8.140015

In [8]:
# el mapa es el siguiente
os.environ['USE_PYGEOS'] = '0'
import geopandas as gpd
datadismap=gpd.read_file(os.path.join('maps','DistritosMap'))
datadismap.head()

,DEPARTAMEN,PROVINCIA,DISTRITO,INSTITUCIO,geometry
0,TACNA,TACNA,CORONEL GREGORIO ALBARRACIN LANCHIPA,IGN,"POLYGON ((-70.17413 -18.12896, -70.17461 -18.1..."
1,TACNA,TACNA,POCOLLAY,IGN,"POLYGON ((-69.93475 -17.92557, -69.90467 -17.9..."
2,TACNA,TACNA,CALANA,IGN,"POLYGON ((-70.11604 -17.91106, -70.11457 -17.9..."
3,TACNA,TACNA,TACNA,IGN,"POLYGON ((-70.31490 -17.94498, -70.30682 -17.9..."
4,TACNA,TACNA,SAMA,IGN,"POLYGON ((-70.42497 -17.88934, -70.48022 -17.9..."

In [9]:
#Realizamos, si es necesario, una limpieza y un formateo
#Verificamos que todos los nombres estén escritos igualmente 
capitalizeColumns=lambda x: x.str.upper().str.strip()
#Convertimos todos los nombres en mayúsculas
datadis[['Provincia','Distrito']]=datadis[['Provincia','Distrito']].apply(capitalizeColumns)
datadismap[['PROVINCIA','DISTRITO']]=datadismap[['PROVINCIA','DISTRITO']].apply(capitalizeColumns)

In [10]:
import unidecode
#Para eliminar símbolos especiales
byePunctuation=lambda x: unidecode.unidecode(x)
datadis[['Provincia','Distrito']]=datadis[['Provincia','Distrito']].applymap(byePunctuation)
datadismap[['PROVINCIA','DISTRITO']]=datadismap[['PROVINCIA','DISTRITO']].applymap(byePunctuation)

In [11]:
#Debemos tener un número de filas iguales
len(datadis.Distrito),len(datadismap.DISTRITO)

(1836, 1874)

In [12]:
#Debemos verificar que no haya repetidos porque si es así, no funcionará
datadis.Distrito.duplicated().sum(),datadismap.DISTRITO.duplicated().sum()

(150, 152)

In [14]:
#Añadimos columnas para diferenciar distritos, ya que algunos son repetidos
# concatenating
datadis['provDist']=["+".join(pd) for pd in zip (datadis.Provincia,datadis.Distrito)]
datadismap['provDist']=["+".join(pd) for pd in zip (datadismap.PROVINCIA,datadismap.DISTRITO)]

In [15]:
#Cambiando los slashes, guiones arriba y abajo por espacios simples
datadis.provDist=datadis.provDist.str.replace("\-|\_|\s+"," ",regex=True)
datadismap.provDist=datadismap.provDist.str.replace("\-|\_|\s+"," ",regex=True)

In [16]:
#Así se vería la nueva columna
# the new column looks like this:
datadis['provDist'].head()

0    CHACHAPOYAS+CHACHAPOYAS
1       CHACHAPOYAS+ASUNCION
2         CHACHAPOYAS+BALSAS
3          CHACHAPOYAS+CHETO
4      CHACHAPOYAS+CHILIQUIN
Name: provDist, dtype: object